@tailwind base;
@tailwind components;
@tailwind utilities;

.diff-enter {
  opacity: 0;
}

.diff-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.diff-exit {
  opacity: 1;
}

.diff-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}